button {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: var(--buttonColor);
    color: var(--white);
    border: none;
    border-radius: 5px;
    
    }
button:hover {
	background-color: var(--buttonHover);
}

.buttonElement {
	position: fixed;
	width: 100%;
	text-align: center;
	padding: 10px;
	background: var(--white);
	
	&.top {
		top: 0;
	}
		
	&.bottom {
		bottom: 0;
	}

	& a {
		color: var(--white);
		text-decoration: none;
	}
}